<div class="new-posting2">

    <div>
      <ul class="new-menu-list">
        <li class="new-menu"><%= link_to "To your ocean", ideas_path, class:"link2" %></li>
        <li class="new-menu"><%= link_to "Back to top", root_path, class:"link2" %></li>
      </ul>
    </div>

    <div class="idea-form">
      <%= form_with(model: @idea, local: true) do |f| %>
      <%= f.text_field :name, placeholder:'new idea', class:"small-field" %>
      <%= f.text_area :description, placeholder:"idea description", class:"large-field" %>
      <%= f.submit "SEND", class:"send"%>
      <% end %>
    </div>

    <img src="/assets/wingpen.png" class="wingpen">

</div>
  <%# <img src="/assets/bottle5.png" class="new-bottle" alt="bottle"> %>
  <%# <img src="/assets/paper.png" class="paper" alt="paper"> %>

