<div class="show-page">
  <div class="show-idea">
    <h1 class="show-name"><%= @idea.name %></h1>
    <h3 class="description"><%= @idea.description %></h3>
  </div>

  <div class="show-menu">
    <ul class="show-menu-list">
      <li class="show-menu-each"><%= link_to "Edit", edit_idea_path(@idea.id), class:"link2" %></li>
      <li class="show-menu-each"><%= link_to "Delete", idea_path(@idea.id), method: :delete, class:"link2" %></li>
      <li class="show-menu-each"><a  href="", class="link2">Share</li>
      <li class="show-menu-each"><%= link_to "To your ocean", ideas_path, class:"link2" %></li>
    <ul>

  <div class="modal" id="modal-open">
    <h6>このアイディアをシェアします。よろしいですか？</h6>
    <div class="choice"><%= link_to "Yes", "/share_ideas/#{@idea.id}", class:"yes-botton", id:"yes" %><a href="" class="no-botton", id="no">No</a></div>
  <div>

</div>