<!DOCTYPE html>
<html>
  <head>
    <title>Bottles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  </head>

  <body>
  <header>
      <div class="heading">
        <p class="title"><%= link_to "Bottles  - Your Private Idea Beach -", root_path, class:"link" %></p>
      </div>
      <div class="navbar">
        <ul class="nav-list">
          <li><%= link_to "What is Private Idea Beach?",  introduction_ideas_path, class:"link" %></li>
          <% if user_signed_in? %>
          <li class="nickname"><%= current_user.nickname %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"link" %></li>
          <% else %>
          <li><%= link_to "Log In",  new_user_session_path, class:"link" %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class:"link" %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
