<!DOCTYPE html>
<html>
  <head>
    <title>Bottles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <div class="heading">
        <h1 class="title"><%= link_to "Bottles Your Private Idea Beach", root_path, class:"link" %></h1>
      </div>
      <div class="navbar">
        <ul class="nav-list">
          <li>What is Private Idea Beach?</li>
          <li><%= link_to "Log In",  new_user_session_path, class:"link" %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class:"link" %></li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
